<div>
    <h2>Reset Your Password</h2>
    <p>Hi, {{ user.get_username }}</p>
    <p>We received a request to reset your password{{ email }}. Click the link below to reset it:</p>
    
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
    </p>
    
    <p>If you didn't request this, you can safely ignore this email.</p>
    <p>Thanks,<br>The Team</p>
    
    <hr>
    <p>If you're having trouble with the button above, copy and paste the following link into your web browser:</p>
    <p>
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </p>
</div>



